form{
    max-width: 25%;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
}

label{
    margin-right: 3px;
}

input{
    padding: 10px;
    margin: 6px auto;
}

button{
    margin-top: 5px;
    max-width: 25%;
    padding: 8px;
    background-color: #A1C398;
    font-weight: bold;
}

